@page
@model final_project.Pages.Randomizer.ArmorModel

@{
    ViewData["Title"] = "Armor List";
}

<h1>Warlock Armor List</h1>

<p>
    <a asp-page="Index">Loadout Randomizer</a><span> | </span>
    <a asp-page="Primary">Primary List</a><span> | </span>
    <a asp-page="Secondary">Secondary Weapon List</a><span> | </span>
    <a asp-page="Heavy">Heavy Weapon List</a>
</p>
