@page
@model final_project.Pages.Randomizer.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<br>

<div>
    <hr />
    <h4>Armor</h4>
    <dl class="row">
        <dd class="col-sm-10" style="font-size: large;">
            @Html.DisplayFor(model => model.Armor.Aname)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Armor.ArmorID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Armor">Back to List</a>
    </form>
</div>

<br>

<div>
    <hr />
    <h4>Primary Weapon</h4>
    <dl class="row">
        
        <dd class="col-sm-10" style="font-size: large;">
            @Html.DisplayFor(model => model.Primary.Pname)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Primary.PrimaryID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Primary">Back to List</a>
    </form>
</div>

<br>

<div>
    <hr />
    <h4>Secondary Weapon</h4>
    <dl class="row">
        <dd class="col-sm-10" style="font-size: large;">
            @Html.DisplayFor(model => model.Secondary.Sname)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Secondary.SecondaryID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Secondary">Back to List</a>
    </form>
</div>

<br>

<div>
    <hr />
    <h4>Heavy Weapon</h4>
    <dl class="row">
        <dd class="col-sm-10" style="font-size: large;">
            @Html.DisplayFor(model => model.Heavy.Hname)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Heavy.HeavyID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Heavy">Back to List</a>
    </form>
</div>
