@page
@model final_project.Pages.Randomizer.HeavyModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Heavy Weapons")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Heavy)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Hname)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.HeavyID">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.HeavyID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>