@page
@model final_project.Pages.Randomizer.HeavyModel

@{
    ViewData ["Title"] = "Heavy Weapon List";
}

<h1>Heavy Weapon List</h1>

<p>
    <a asp-page="Index">Loadout Randomizer</a><span> | </span>
    <a asp-page="Armor">Armor List</a><span> | </span>
    <a asp-page="Primary">Primary Weapon List</a><span> | </span>
    <a asp-page="Secondary">Secondary Weapon List</a>
</p>