@page
@model final_project.Pages.Randomizer.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Loadout Randomizer</h1>

<div class="text-center">
    <p>
        <a asp-page="/Randomizer/Armor">Armor List</a><span> | </span>
        <a asp-page="/Randomizer/Primary">Primary List</a><span> | </span>
        <a asp-page="/Randomizer/Secondary">Secondary Weapon List</a><span> | </span>
        <a asp-page="/Randomizer/Heavy">Heavy Weapon List</a>
    </p>
</div>

<div class="form-group text-center">
    <div class="center">
        <input type="submit" value="RANDOMIZE LOADOUT" class="btn btn-primary btn-lg btn-block" />
    </div>
</div>
