@page
@model final_project.Pages.Randomizer.PrimaryModel

@{
    ViewData ["Title"] = "Primary Weapon List";
}

<h1>Primary Weapon List</h1>

<p>
    <a asp-page="Index">Loadout Randomizer</a><span> | </span>
    <a asp-page="Armor">Armor List</a><span> | </span>
    <a asp-page="Secondary">Secondary Weapon List</a><span> | </span>
    <a asp-page="Heavy">Heavy Weapon List</a>
</p>