@page
@model final_project.Pages.Randomizer.SecondaryModel

@{
    ViewData ["Title"] = "Secondary Weapon List";
}

<h1>Secondary Weapon List</h1>

<p>
    <a asp-page="Index">Loadout Randomizer</a><span> | </span>
    <a asp-page="Armor">Armor List</a><span> | </span>
    <a asp-page="Primary">Primary Weapon List</a><span> | </span>
    <a asp-page="Heavy">Heavy Weapon List</a>
</p>