@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Destiny 2 Loadout Randomizer</h1>
    <p></p>
    <p>Here is everything that you can randomize for your Loadout.</p>
    <p style="color:red;">Currently only Warlock Exotic Armor pieces can be randomized.</p>
</div>
<p></p>

<div class="text-center">
    <h5>
        <a asp-page="/Randomizer/Index">Randomizer</a> <span> | </span>
        <a asp-page="/Randomizer/Armor">Armor List</a><span> | </span>
        <a asp-page="/Randomizer/Primary">Primary List</a><span> | </span>
        <a asp-page="/Randomizer/Secondary">Secondary Weapon List</a><span> | </span>
        <a asp-page="/Randomizer/Heavy">Heavy Weapon List</a>
    </h5>
</div>
