@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Destiny 2 Loadout Randomizer</h1>
    <p></p>
    <p>Here is everything that you can randomize for your Loadout.</p>
    <p>Currently only Warlock Exotic Armor pieces can be randomized.</p>
</div>

<h3>Please select the item that you would like to randomize</h3>
<p>
    <a asp-page="Privacy">Privacy Settings</a> <span> | </span>
</p>



